
# $ROOTDIR will always be the top level dir of the repo

export ROOTDIR=`pwd -P`

# # add the VIRTUAL_ENV
# export VIRTUAL_ENV=${ROOTDIR}/localvenv
# # and update VIRTUAL_ENV in front of existing PATH
# export PATH=${VIRTUAL_ENV}/bin:${PATH}

source ${ROOTDIR}/localvenv/bin/activate
